body {
    font-family: 'Arial', sans-serif;
    background-color: #0D1117;
    color: #C9D1D9;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2 {
    color: #58A6FF;
}

.highlight {
    color: #79C0FF;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #C9D1D9;
}

button {
    background-color: #58A6FF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer a {
    margin: 10px;
    color: #58A6FF;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
